
// .navbar{
//     position:absolute;
//     top:3px;
//     left:27%;
//     right: 27%; 
//      z-index: 10;
//      .collapse{
//       z-index: 1000;
//      }
// };
.carousel{
    position: relative;
}
*{
    font-family: 'MyFont';
}

.carousel-indicators{
    z-index: 5 !important;
    position: relative;
    background-color:  #070626 !important;
}
.carousel-control-prev,
.carousel-control-next{
    position: absolute;
}

.carousel-control-prev{
    left: 63%;
}
.carousel-control-next{
    right: 19%
}
.arrowIcon{
    font-size: large;
    color: white;
    background-color: aqua;
}
.carousel-control-prev-icon{
    background-image: url("../../../assets/images/arraow.png");
    width: 20px; ;
    height: 5px;
    transform: scale(-1);
    position :relative;
  }
.carousel-control-next-icon {
    background-image: url("../../../assets/images/arraow.png");
    width: 20px; ;
    height: 5px;
    position :relative;
}
.carousel-control-next svg{
    position:absolute;
}
.carousel-control-prev svg{
    position:absolute;
}

.controlContainer{
    background-color: #070626;
    // border-bottom :1px solid 
    margin: 20px;
}
.indicators{
    z-index: 5;
}
.smallCarousel{
    position: absolute;
    width: 25%;
    height: 25%;
    top: 67%;
    left: 25%;
    z-index: 20;
}
.containercarsoul{
   position: relative; 
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}
@media only screen and (max-width: 991.98px){ 
    .carousel-control-prev{
        left: 62%;
    }
    .carousel-control-next{
        right: 18%
    }
}
// @media only screen and (max-width: 570px){ 
//     .carousel-control-prev{
//         left: 62%;
//     }
//     .carousel-control-next{
//         right: 18%
//     }
// }
@media only screen and (max-width: 468px){ 
    .carousel-control-prev{
        left: 15%;
    }
    .carousel-control-next{
        right: 59%
    }
    .carousel-control-next svg{
       width:35;
       height:35
    }
    .carousel-control-prev svg{
        width:30;
        height:30
    }
    .controlContainer{
      

        margin: 2px;
    }
}

  @media only screen and (max-width: 991.98px){
    .navbar{
        position:absolute;
        top:3px;
        left:0%;
        right: 0%;
         z-index: 10;
    }
  }