<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class=""></div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 logo pt-5">
                        
                           <img class="w-100" src="../../../assets/images/loggo3.png">
                       
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">{{"servicesName" | translate}}</h6>
                        <p>
                            <a class="text-white">{{"services.servic1" | translate}}</a>
                        </p>
                        <p>
                            <a class="text-white">{{"services.servic2" | translate}}</a>
                        </p>
                        <p>
                            <a class="text-white">{{"services.servic3" | translate}}</a>
                        </p>
                        <p>
                            <a class="text-white">{{"services.servic4" | translate}}</a>
                        </p>
                        <p>
                            <a class="text-white">{{"services.servic5" | translate}}</a>
                        </p>
                        <p>
                            <a class="text-white">{{"services.servic6" | translate}}</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" dir="ltr">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="bi bi-house-door-fill"></i> {{"address"|translate}}</p>
                        <p><i class="bi bi-envelope-fill"></i> {{"email" | translate}}</p>
                        <p><i class="bi bi-telephone-plus-fill"></i> +966 13 844 0040</p>
                        <p><i class="bi bi-telephone-plus-fill"></i> +966 54 044 8470</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a class="btn  btn-floating m-1" style="" href="#!"
                            role="button"><i class="bi bi-facebook fs-4  socialicon"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-floating m-1" style="" href="#!"
                            role="button"><i class="bi bi-twitter  socialicon fs-4"></i></a>
                            <a class="btn btn-floating m-1" style="" href="#!"
                            role="button"><i class="bi bi-instagram  socialicon fs-4"></i></a>
                     
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="#">Alhares.com</a>
        </div>
        <!-- Copyright -->
    </footer>
  
</div>
<!-- End of .container -->