
<img class="coverImg w-100" style="max-height: 450px;" src="../../../assets/images/network/DSC_8548.webp">
<div class="ourworks p-3 text-end" >
  <h2 class="text-start">الاعمال</h2>
</div>
<div class="p-4 currentWork text-light">
  <h1>{{curentWork[0].name | translate}}</h1>
</div>
<div class="container mt-5 ">
  <div class=" ">
    <div class="row p-3" *ngFor="let work of curentWork">
      <div class="col-lg-4 col-md-6 mb-2 " *ngFor="let img of work.images" style="max-height:270px">
        <img class="w-100 workImg" [src]="img">
      </div>
     
    </div>
  </div> 
</div>
<!-- </div> -->

