<app-carousel class=""></app-carousel>

<div dir="rtl">
    <app-about-us dir="rtl"></app-about-us>
</div>
<div class="mb-5">
    <app-services ></app-services> 
    <!-- error in responsiv ein carousel -->
</div>
<div class="m-5 p-2"></div>
<div class="mt-5 pt-5">
    <app-works></app-works>
</div>
<div class="m-5 p-3"></div>
<app-vision-mission class="m-0 p-0"></app-vision-mission>
<div class="m-5 p-5 "></div>
<app-other-service></app-other-service>
<div class="m-5 p-5"></div>
<div class="p-5 AskForm">
    <app-ask-for-service class=""></app-ask-for-service>
</div>
<div>
    <app-footer></app-footer>
</div>
