
.navbar{
    position:absolute;
    top:3px;
    left:20%;
    right: 20%; 
     z-index: 10;
     .collapse{
      z-index: 1000;
     }
  };
  @media only screen and (max-width: 991.98px){
    .navbar{
        position:absolute;
        top:3px;
        left:0%;
        right: 0%;
         z-index: 10;
    }
  }
  