<div class="row p-0 m-0 pt-5 justify-content-around AboutUscontainer" [ngClass]="lang=='ar'?'rtl':'ltr' ">
  <div class="col-lg-5 mt-5 " dir="">
    <h2 class="aboutUs  mb-3 pb-3 p-0" >{{"aboutUs" | translate}}</h2>
    <p class="intro text-light" >{{"intro" | translate}}</p>
    <div class="seviceLis d-flex p-3" >
    <ul class=" list " >
       <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic1" | translate}}</li>
       <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic2" | translate}}</li>
       <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic3" | translate}}</li>
    </ul>
    <ul>
      <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic4" | translate}}</li>
      <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic5" | translate}}</li>
       <li><i class="bi bi-shield-check gardicon"></i>{{"services.servic6" | translate}}</li>
    </ul>
  </div>
  </div>
  <div   class="col-lg-6 p-5 mt-5">
    <div id="myDiv" class="d-flex ">
     <div class="m-2 mt-5"><img class="intro1 w-100"src="../../../assets/images/DSC_8480.jpg"></div>
     <div class=""><img class="intro2 w-100"src="../../../assets/images/DSC_8600.jpg"></div>
    </div>
  </div>
</div>
