*{
    font-family:"myFont"
}
.containerall{
    background-color: #45548a;
    position :relative
}
.img{
    z-index:10;
    position :relative;
    // position:absolute;
    // top:0%;
    // left:0%;
    // bottom:0%;
    // right:0%;
    // object-fit:cover
}
.emptyCard{
     position:absolute;
    //  right: 0;
  left: 50%;
  top: 50%;
//   bottom: 0;
//   margin: auto;
    width:150%;
    height:50%;
   transform:translate(-50%,-50%);
     z-index:1;
    background-color: #070626
}
.contain{
  
    // width:100%;
    // height:100%;
    // background-color: #070626
  
}
@media screen and (max-width:768px) {
    .contain{
        .img{

display:none
           
        }
    }
   
.emptyCard{
    display:none
}
}
.formbtn{
    background-color: #070626
    ;
    color:white;
    a{
        color:white; 
    }
    a:hover{
        text-decoration: none;
        color:#88C8C8;
      
    }
}
.formbtn:hover{
    transform: scale(1.2);
    border-radius: 20%;
    transition: all .2s ease-in-out;
}
.rtl{
    direction: ltr !important;
    text-align: right;
  }

.ltr{
    direction: ltr !important;
    text-align: left;
   
      
        top:-25%;
        left:36% !important;
  
  }