<!-- <div>
    <button><a href="https://docs.google.com/forms/d/e/1FAIpQLSekhr0hh3wPd8ydsQGeZ-99Rm_QyCn1EarjoLbTHv1Dk4XZOg/viewform?usp=sf_link">Ask for help</a></button>
</div> -->
<!-- <div class="container-fluid " style="height:100%"> -->
<div class="row p-0 m-0 m-5 justify-content-center containerall" [ngClass]="lang=='ar'?'rtl':'ltr'" dir="ltr">
  <div class="col-md-3 contain " [ngClass]="lang=='ar'?'rtl':'ltf'">
    <div class=" emptyCard ">
    
    </div>
   
    <div class="col-md-6  col-8 m-auto  d-sm-block d-md-none " >
        <img src="../../../assets/images/help.jpg" class="w-100" [ngClass]="lang=='ar'?'rtl':'ltr'">
    </div> 
    <img src="../../../assets/images/help.jpg" class="w-100   img" [ngClass]="lang=='ar'?'rtl':'ltr'">
  </div>
  <div class="col-md-6">
     <h1 class="text-light">{{"AskHelp" |translate}}</h1>
     <p class="text-light">{{"askDescription"|translate}}</p>
     <button class="formbtn p-2"><a href="https://docs.google.com/forms/d/e/1FAIpQLSekhr0hh3wPd8ydsQGeZ-99Rm_QyCn1EarjoLbTHv1Dk4XZOg/viewform?usp=sf_link">{{"formBtn" |translate}}</a></button>

  </div>
</div>
<!-- </div> -->