

.cardcontainer{
    border-right:.5px solid #88C8C8;

}

.hover{
    // width:350px;
    height:500px;
    border-right:.5px solid #88C8C8;
}


.thumb {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  // height:30%;
z-index:30
}

.thumb-gradient,
.thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.thumb-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.56) 100%);
}

.thumb-anim {
  margin-top: auto;  /* pushes all content to bottom */
  position: relative;
  transition: 0.5s;
  transform: translateY(100%);
}



.thumb-description {
  padding: 10px 20px;
  transition: 0.5s;
  opacity: 0;
  flex: 1;
  font-family:'lightFont'
}

.thumb-author {
  padding: 20px;
  position: relative;
}


/* ANIMATE */

 .thumb-animActive {
  transform: translateY(0);
  transition:all 1s ease-in-out
}



.thumb-descriptionActive  {
  opacity: 1;
  transition:all 1s ease-in-out;
  font-family:'lightFont'
}
 .thumb-imgActive  {
  opacity: .8;
  transition:all 2s ease-in-out
}

.servicecontain{
  position: absolute;
  align-items: center;
  top:55%;
  // left:0%;
  width: 100%;
  // height: 70%;
  // font-size: 50%;
  transition: all 1s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    svg{
      width: 20%;
    }
}
.servicecontainonhover{	
  top:53%;

}


 .servicName{
 
    color:white;
    font-family:"myFont";
    text-align: center;
}
.serviceIcon{
     color:#88C8C8 !important;

    height:35%;
    text-align: center;
    align-items: center;
}
.descrition{

  color :white;
  font-family:'lightFont'
 
}
.cardcontainer{
  position: relative;

}
.rtl{
  text-align:center;
}
.ltr{
  text-align:center;
}
