

.cardcontainer{
    border-right:.5px solid #88C8C8;
 overflow: hidden;
}

.hover{
    // width:350px;
    height:500px;
    border-right:.5px solid #88C8C8;
}


.thumb {
  display: flex;
  // flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
  // height:30%;
z-index:30
}

.thumb-gradient,
.thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // opacity: 0.1;
  backdrop-filter: blur(8px);
}
@mixin serviceImgCover{
  backdrop-filter: blur(8px);
  // filter: blur(8px);
  -webkit-filter: blur(8px);
transition:all 1s ease-in-out;
overflow: hidden;
  // /* Full height */
  height: 100%;
opacity:.6;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin serviceRemoveFilter{
  backdrop-filter: blur(0)!important;
  // filter: blur(8px);
  -webkit-filter: blur(0)!important;
transition:all 1s ease-in-out;
  /* Full height */
  font-weight: bold;
  height: 100%;
opacity:.8 !important;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgCover1{
  background-image: url('../../../assets/images/doors/DSC_8480.jpg');
@include serviceImgCover;
}
.removeFilter1{
  background-image: url('../../../assets/images/network/DSC_8676.jpg')!important;
@include serviceRemoveFilter;
}
.imgCover2{
  background-image: url('../../../assets/images/services/DSC_8532.jpg');
@include serviceImgCover;
}
.removeFilter2{
  background-image: url('../../../assets/images/services/DSC_8980.jpg')!important;
@include serviceRemoveFilter;
}
.imgCover3{
  background-image: url('../../../assets/images/network/DSC_8744.jpg');
@include serviceImgCover;
}
.removeFilter3{
  background-image: url('../../../assets/images/intro1.jpg')!important;
@include serviceRemoveFilter;
}
.imgCover4{
  background-image: url('../../../assets/images/services/DSC_8512.jpg');
@include serviceImgCover;
}
.removeFilter4{
  background-image: url('../../../assets/images/services/DSC_8532.jpg')!important;
@include serviceRemoveFilter;
}
.imgCover5{
  background-image: url('../../../assets/images/services/DSC_8512.jpg');
@include serviceImgCover;
}
.removeFilter5{
  background-image: url('../../../assets/images/network/DSC_8741.jpg')!important;
@include serviceRemoveFilter;
}
.imgCover6{
  background-image: url('../../../assets/images/services/DSC_8532.jpg');
@include serviceImgCover;
}
.removeFilter6{
  background-image: url('../../../assets/images/intro2.jpg')!important;
@include serviceRemoveFilter;
}
.thumb-gradient {
  backdrop-filter: blur(0);
  // -webkit-filter: blur(8px);
}
.removeFilter{
  backdrop-filter: blur(0);
}
.thumb-anim {
  margin-top: auto;  /* pushes all content to bottom */
  position: relative;
  transition: 0.5s;
  transform: translateY(100%);
}



.thumb-description {
  padding: 10px 20px;
  transition: 0.5s;
  opacity: 0;
  flex: 1;
  font-family:'myFont';
  font-weight: bold;
}

.thumb-author {
  padding: 20px;
  position: relative;
}


/* ANIMATE */

 .thumb-animActive {
  transform: translateY(0);
  transition:all 1s ease-in-out
}



.thumb-descriptionActive  {
  opacity: 1;
  transition:all 1s ease-in-out;
  font-family:'myFont'
}
 .thumb-imgActive  {
  opacity: .8;
  transition:all 2s ease-in-out
}
.containeer{
  overflow: hidden;

}
.servicecontain{
  position: absolute;
  align-items: center;
  top:60%;
  // left:0%;
  width: 100%;
  // height: 70%;
  // font-size: 50%;
  transition: all 1s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    svg{
      width: 20%;
    }
}
// servicecontain1{
//   position: absolute;
//   width: 100%;
//   // top: 50%;
//   // left: 50%;
//   // transform: translate(-50%, -50%);
//   svg{
//     width: 20%;
//   }
// }
.servicecontainonhover{	
  position: absolute;
  width: 100%;
  align-items: center;
  top:50%;
  transition: all 1s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
  svg{
    width: 20%;
  }

}


 .servicName{
 
    color:white;
    font-family:"myFont";
    text-align: center;
}
.serviceIcon{
     color:#88C8C8 !important;

    height:35%;
    text-align: center;
    align-items: center;
}
.descrition{

  color :white;
  font-family:'myFont'
 
}
.cardcontainer{
  position: relative;
  
}
.rtl{
  text-align:center;
}
.ltr{
  text-align:center;
}
@media screen  and (max-width:760px){
  .hover{
    border: 1px solid #88C8C8;
  }
  .thumb-anim{
    transform: translateY(0);
    transition:all 1s ease-in-out
  }
  
  .servicecontain{
    top: 50%;
  }
  
  .thumb-description {
    opacity: 1;
    transition:all 1s ease-in-out;
    font-family:'myFont'
  }
}