<div class="row m-0 p-0 seviceContainer w-100" [ngClass]="lang=='ar'?'rtl':'ltr'">
    <h2 class="m-3 col-6 text-light">{{"otherServices" | translate}}</h2>
    <div class="d-flex flex-wrap seviceContainer1 p-0  " [ngClass]="lang=='ar'?'rtl':'ltr'">
        <div class="service1 w-100 d-flex flex-wrap m-0 p-5">
                
        </div>
        <div class="col-lg-4 service1title text-light "><h2 class="">{{"otherservicekey1"|translate}}</h2></div>
        <div class="col-lg-6 service1Dis text-light p-5"><p>{{"otherservicetitle1" |translate}}</p></div>
    </div>
    <div class="col-12 seviceContainer2 p-0  ">
        <div class="service2 w-100 d-flex flex-nowrap m-0 p-5">
                
        </div>
        <div class="col-lg-4 service2title text-light"><h3 class="">{{"otherservicekey2"|translate}}</h3></div>
        <div class="col-lg-6 service2Dis text-light p-5"><p>{{"otherservicetitle2" |translate}}</p></div>
    </div>
    <div class="col-12 seviceContainer3 p-0  p-5">
        <div class="service3 w-100 d-flex flex-nowrap m-0 p-5">
                
        </div>
        <div class="col-lg-4 service3title text-light "><h3 class="">{{"otherservicekey3"|translate}}</h3></div>
        <div class="col-lg-6 service3Dis text-light p-5"><p>{{"otherservicetitle3" |translate}}</p></div>
    </div>
</div>