<div class="row   cover m-0 p-0" [ngClass]="lang=='ar'?'rtl':'ltf'">
  <!-- <div data-aos="zoom-in" class=" col-12 parallax-container  p-0 m-0">

  </div> -->
  <img src="../../../assets/images/secure.jpg" class="m-0 w-100">
  <div class="col-lg-6 visionConatianer mt-5 p-0">
  <div data-aos="slide-down"  class=" col-lg-12 visionCard   p-3  ">
    <h1  >{{"vissionKey" | translate}}</h1>
    <p>{{"vission" | translate}}</p>
  </div>
  <div data-aos="slide-right" class="col-lg-12 missionCard text-light p-5 ">
    <h1>{{"missionKey" |translate}}</h1>
    <p>{{"mission" |translate}}</p>
  </div>
  <div data-aos="slide-up" class="col-lg-12 targetCard  p-3 mt-auto ">
    <h1>{{"targetkey" |translate}}</h1>
    <p>{{"target" |translate}}</p>
  </div>
  <!-- <div data-aos="slide-down" class="col-lg-4 valueCard p-3 mt-2 ">
    <h1>{{"valuekey" |translate}}</h1>
   
    <ul>
      <li>{{"vaules.1" |translate}} :{{"value1"|translate}}</li>
      <li> {{"vaules.2" | translate}} :{{"value2"|translate}}</li>
    </ul>
  </div> -->
</div>
</div>
<!-- <img class="image"   src="../../../assets/images/secure.jpg"> -->
<h1 class="text-light"></h1>